/*==================================================*/
/* Technique 1*/
.div_1 {
    position: relative; /*static is the default value for positioning*/
    top: 60px;
    left: 80px;

    display: none;
}

.div_1__positioning {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}
/*==================================================*/
/* Technique 2*/
.div_2 {
    position: relative; /*static is the default value for positioning*/
    top: 60px;
    left: 80px;

    display: none;
}

.div_2__positioning {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    margin: auto;
}
/*==================================================*/
/* Technique 3*/
.div_3 {
    position: relative; /*static is the default value for positioning*/
    top: 60px;
    left: 80px;

    /* display: flex; */
    display: none;
    justify-content: center;
    align-items: center;
}

/*==================================================*/
/* Technique 4*/
.div_4 {
    position: relative; /*static is the default value for positioning*/
    top: 60px;
    left: 80px;

    /* display: flex; */
    display: none;
    justify-content: center;
}

.div_4__positioning {
    align-self: center;
}

/*==================================================*/
/* Technique 5*/
.div_5 {
    position: relative; /*static is the default value for positioning*/
    width: 50%;
    height: 50%;
    top: 60px;
    left: 80px;

    /* display: flex; */
    display: none;
}

.div_5__positioning {
    margin: auto;
}

/*==================================================*/
/* Technique 6*/
.div_6 {
    /* display: grid; */
    display: none;
    justify-content: center;
    align-items: center;
}

/*==================================================*/
/* Technique 7*/
.div_7 {
    /* display: grid; */
    display: none;
    place-items: center;
}

/*==================================================*/
/* Technique 8*/
.div_8 {
    /* display: grid; */
    display: none;
}

.div_8__positioning {
    align-self: center;
    justify-self: center;
}

/*==================================================*/
/* Technique 9*/
.div_9 {
    display: none;
    /* display: grid; */
}

.div_9__positioning {
    place-self: center;
}

/*==================================================*/
/* Technique 10*/
.div_10 {
    top: 10px;
    left: 10px;

    /* display: none; */
    display: grid;
}

.div_10__positioning {
    margin: auto;
}
